@font-face {
  font-family: 'ArchivoBlack';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'ArchivoBlack';
}

body {
  background-color: hsl(200, 100%, 21%);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  padding: 30px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.content-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsla(187, 13%, 12%, 0.758);
  width: 700px;
  height: 850px;
  border: white solid 1px;
  border-radius: 20px;
}

.content-background form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 850px;
  gap: 20px;
}

.content {
  width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.content span {
  display: flex;
  align-items: flex-start;
  width: 390px;
  color: #ffffff;
}

.content input {
  background-color: #ffffff99;
  display: flex;
  align-items: center;
  width: 388px;
  height: 48px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 18px;
  color: #4c2ec4;
  padding: 6px;
}

.content input:hover {
  background-color: #ffffffc9;
}

.content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  height: 50px;
  width: 400px;
}

.content button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 400px;
}

.esqueci-senha {
  width: 390px;
}

.esqueci-senha a {
  width: 164px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.esqueci-senha a:hover {
  color: #ffffffa1;
}

.g_id_signin {
  width: 396px;
}

.g_id_signin span {
  color: #705BC2;
}

.blue-button {
  background-color: #0097E4;
}

.blue-button:hover {
  background-color: #0087CC;
}

.light-purple-button {
  background-color: #6D7EFF;
}

.light-purple-button:hover {
  background-color: #4D62FF;
}

.dark-purple-button {
  background-color: #705BC2;
}

.dark-purple-button:hover {
  background-color: #5734DE;
}

.title-screen {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .logo img {
    height: 80px;
    width: 80px;
  }

  .content-background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 750px;
    width: 330px;
    gap: 4px;
  }

  .content-background form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 330px;
    gap: 8px;
  }

  .content {
    height: 200px;
    width: 300px;
    gap: 6px;
  }

  .content input {
    height: 30px;
    width: 290px;
    font-size: 16px;
  }

  .content span {
    width: 296px;
  }

  .content a {
    width: 300px;
  }

  .content button {
    width: 300px;
  }

  .esqueci-senha {
    width: 296px;
  }

  .esqueci-senha a {
    width: 144px;
    font-size: 16px;
  }

  .g_id_signin {
    width: 296px;
  }

  .title-screen {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}