@font-face {
  font-family: 'ArchivoBlack';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AnekLatin';
  src: url('../fonts/AnekLatin-Regular.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'ArchivoBlack';
}

body, html {
  width: 100%;
  background-color: #00486C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.logoMCM {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
}

.setaVoltar {
  margin: 20px 0px 20px 20px;
  height: 32px;
  width: 32px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  gap: 20px;
}

.verMais {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #1A2122;
  color: white;
  font-size: 18px;
  font-family: 'AnekLatin';
  min-height: 30px;
  min-width: 80px;
}

p {
  font-family: 'AnekLatin';
}

h2 {
  color: white;
  font-family: 'AnekLatin';
  font-weight: 200;
  margin: 5px;
}

.card-curso-holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
  border: 5px solid white;
  border-radius: 20px;
  width: 80%;
}

#a {
  background-color: #0097E4;
}

#b {
  background-color: #6D7EFF;
}

#c {
  background-color: #705BC2;
}

.card-curso-list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  min-height: 40px;
  width: 90%;
  padding: 0px 10px 0px 10px;
}