@font-face {
  font-family: 'ArchivoBlack';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AnekLatin';
  src: url('../fonts/AnekLatin-Regular.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'ArchivoBlack';
}

body, html {
  width: 100%;
  background-color: #00486C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.texto {
  min-width: 250px;
  max-width: 800px;
  padding: 20px;
  margin: 10px;
  background-color: hsl(187, 13%, 12%, 0.74);
  border: 1px solid white;
  border-radius: 20px;
}

p {
  color: white;
  font-family: 'AnekLatin';
  font-size: 18px;
}

.headerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.headerLogo > img {
  height: 100px;
  width: 100px;
}

.grid-imagens {
 display: grid;
 grid-template-columns: repeat(2, auto); 
 column-gap: 8px;
 row-gap: 15px; 
 justify-content: center;
}

.feira-imagem {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
