* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(200, 100%, 21%);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  padding: 30px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.content-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsla(187, 13%, 12%, 0.758);
  width: 700px;
  height: 500px;
  border: white solid 1px;
  border-radius: 20px;
  gap: 100px;
}

.content {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content span {
  display: flex;
  align-items: flex-start;
  width: 200px;
}

.blue-button {
  background-color: #0097E4;
  height: 50px;
  width: 200px;
}