@font-face {
  font-family: 'ArchivoBlack';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'ArchivoBlack';
}

body {
  width: 100%;
  background-color: hsl(200, 100%, 21%);
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.logo {
  margin: 30px 0px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.content-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsla(187, 13%, 12%, 0.758);
  width: 90%;
  max-width: 700px;
  border: white solid 1px;
  border-radius: 20px;
  gap: 80px;
  padding: 20px 0px;
}

.content {
  width: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
  gap: 8px;
}

.content span {
  width: 100%;
  display: flex;
  align-items: flex-start;
  color: #ffffff;
}

.content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  min-height: 50px;
  width: 100%;
  transition: 0.3s;
}

.blue-button {
  background-color: #0097E4;
}

.blue-button:hover {
  background-color: #0087CC;
}

.light-purple-button {
  background-color: #6D7EFF;
}

.light-purple-button:hover {
  background-color: #4D62FF;
}

.dark-purple-button {
  background-color: #705BC2;
}

.dark-purple-button:hover {
  background-color: #5734DE;
}

@media screen and (max-width: 600px) {
  .content-background {
    display: flex;
    justify-content: center;
    gap: 22px;
  }

  .content {
    gap: 6px;
  }
}