@font-face {
  font-family: 'AnekLatin';
  src: url('../fonts/AnekLatin-Regular.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'AnekLatin';
}

body, html {
  width: 100%;
  background-color: #00486C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.logoMCM {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
}

.setaVoltar {
  margin: 20px 0px 20px 20px;
  height: 32px;
  width: 32px;
}

main {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.descricao {
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: center;
  background-color: hsl(187, 13%, 12%, 0.74);
  width: 80%;
  min-height: 60px;
  max-height: 100px;
  border-radius: 20px;
  padding: 15px 20px 15px 20px;
}

p {
  color: white;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ods-dupla {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.component {
  width: 100%;
  max-width: 300px;
  min-height: 250px;
  max-height: 800px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: hsl(187, 13%, 12%, 0.74);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s, width 0.3s;
}

.image-ods {
  width: 150px;
  padding-bottom: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.image-ods img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.text {
  margin-top: 10px;
  min-height: 30px;
  max-height: 50px;
  color: white;
}

.caption {
  display: none;
  text-align: start;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  color: white;
}

.component.expanded {
  width: 100%;
  gap: 10px;
  transition: transform 0.5s ease, width 0.5s ease;
}

.component.expanded .caption {
  display: block;
  opacity: 1;
  max-height: 100%;
}

@media screen and (max-width: 450px) {
  .image-ods {
    width: 120px;
    height: 120px;
    padding-bottom: 0px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
  }

  .image-ods img {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
  }
}