@font-face {
  font-family: 'ArchivoBlack';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AnekLatin';
  src: url('../fonts/AnekLatin-Regular.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'ArchivoBlack';
}

body, html {
  width: 100%;
  background-color: #00486C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.logoMCM {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
}

.setaVoltar {
  margin: 20px 0px 20px 20px;
  height: 32px;
  width: 32px;
}

p {
  font-family: 'AnekLatin';
  font-weight: 200;
  color: white;
  font-size: medium;
}

h1 {
  text-align: center;
  color: white;
}

h3 {
  font-family: 'AnekLatin';
  color: white;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  background-color: hsla(187, 13%, 12%, 0.74);
  gap: 20px;
}

.projetos {
  border: 6px solid hsl(209, 100%, 60%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 600px;
}

.projeto-nome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #D8E6FF;
  border-bottom: 6px solid hsl(209, 100%, 60%);
  padding: 5px 0px 5px 0px;
  min-width: 100%;
  text-align: center;
  font-size: 18px;
}

.projeto-dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0px 10px 0px;
  min-width: 100%;
  text-align: center;
  background-color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.colocacao {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 10px 0px 10px;
  border: 1px solid grey;
}

.top {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.posicao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  gap: 10px;
}

#primeiro {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 180px;
  width: 100%;
  background-color: #FFB236;
  border-radius: 10px;
  padding-bottom: 10px;
}

#segundo {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 135px;
  width: 100%;
  background-color: #A7A7A7;
  border-radius: 10px;
  padding-bottom: 10px;
}

#terceiro {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 120px;
  width: 100%;
  background-color: #AA7F42;
  border-radius: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 400px) {
  .posicao {
    width: 84px;
  }
}