@font-face {
  font-family: 'ArchivoBlack';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AnekLatin';
  src: url('../fonts/AnekLatin-Regular.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'ArchivoBlack';
}

body, html {
  width: 100%;
  background-color: #00486C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.headerLogo > img {
  height: 100px;
  width: 100px;
}

p {
  font-family: 'AnekLatin';
  font-weight: 200;
  color: white;
  font-size: medium;
}

h1 {
  text-align: center;
  color: white;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  background-color: hsla(187, 13%, 12%, 0.74);
  gap: 20px;
}

.container-projeto {
  width: 90%;
  display: flex;
  flex-direction: row;
  height: 100px;
}

.projeto-nome {
  background-color: #fd9797c0;
  height: 40px;
  border: solid 5px #D71414;
  box-shadow: 0 0 10px #D71414;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
}

.projeto-lugar {
  width: 100%;
  background-color: #ffffff9a;
  height: 40px;
  border: solid 5px #ffffff;
  box-shadow: 0 0 10px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colocacao {
  background-color: white;
  position: absolute;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 80%;
  font-weight: bold;
  border-radius: 5px;
}

.projetos {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100px;
}