@font-face {
  font-family: 'ArchivoBlack';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AnekLatin';
  src: url('../fonts/AnekLatin-Regular.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'ArchivoBlack';
}

body, html {
  width: 100%;
  background-color: #00486C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.logoMCM {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
}

.setaVoltar {
  margin: 20px 0px 20px 20px;
  height: 32px;
  width: 32px;
}

p {
  font-family: 'AnekLatin';
  font-weight: 200;
  color: white;
  font-size: medium;
}

h1 {
  text-align: center;
  color: white;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  background-color: hsla(187, 13%, 12%, 0.74);
  gap: 20px;
}

.imagem {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
}

.imagem > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.separacao {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  height: 25%;
}

@media screen and (max-width: 1000px) {
  .separacao {
    width: 95%;
    height: auto;
    margin-top: 0;
    gap: 15px;
  }

  .imagem {
    width: 90%;
    height: 250px;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
    text-align: justify;
  }

  .separacao p {
    width: 100%;
  }
}