body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #28647C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    border-radius: 10px;
    background-color: #0097E4;
}

p {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.headerLogo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerLogo > img {
    margin: 10px;
    height: 100px;
    width: 100px;
}

.conteudo {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #1C343C;
    border: 1px solid white;
    border-radius: 15px;
    width: 80%;
    height: 80%;
}

.separacao {

}